#main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 8px;
}

#characters {
    grid-row: span 2 / span 2;
    background-color: red;
}

#details {
    grid-column-start: 2;
    grid-row-start: 1;
    background-color: aqua;
}

#favorites {
    grid-column-start: 2;
    grid-row-start: 2;
    background-color: green;
}

#appearance {
    grid-row: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 1;
    background-color: yellow;
}  

span {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    background-color: goldenrod;
}

div {
    padding: 10px;
}

h1 {
    text-align: center;
}

.selected {
    background-color: gold;
}

#add-to-favorites {
    margin: 10px;
    padding: 10px;
    font-size: larger;
    background-color: gold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#favorites {
    max-height: 250px;
}