#tour-grid {
    display: grid;
    /* grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px; */
}
#paris-container {
    grid-area: 1 / 1 / 2 / 2;
}
#iran-container {
    grid-area: 1 / 2 / 2 / 3;
}
#moon-container {
    grid-area: 1 / 3 / 2 / 4;
}
#registration-container {
    grid-area: 2 / 1 / 3 / 4;
}

.grid-item{
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
}

input, label {
    margin-bottom: 10px;
}

.highlight {
    color: red;
}