#main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 8px;
}

#characters {
    grid-row: span 2 / span 2;
}

#details {
    grid-column-start: 2;
    grid-row-start: 1;
}

#favorites {
    grid-column-start: 2;
    grid-row-start: 2;
}

#appearance {
    grid-row: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 1;
}

span {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    background-color: goldenrod;
}

div {
    padding: 10px;
}

h1 {
    text-align: center;
}

.selected {
    background-color: gold;
}

#add-to-favorites {
    margin: 10px;
    padding: 10px;
    font-size: larger;
    background-color: gold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#favorites {
    max-height: 250px;
}

#alert {
    display: none;
}

@media (max-width: 1080px) {
    #main {
        display: none;
    }
    #alert {
        display: block;
        text-align: center;
        font-size: larger;
        color: red;
    } 
}

ul {
    font-size: larger;
    list-style-type: none;
    padding: 0px;    
}

li {
    padding: 2px;
    cursor: pointer;
    border-radius: 15px;
    text-align: center;
}

#details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
}

#favorite-list {
    max-height: 200px;
    overflow-y: auto;
}